.navbar-inverse {
    background-color: #428bca;
}

.navbar-inverse .navbar-brand {
    color: #fff;
 }

.navbar-inverse .navbar-nav>li>a {
    color: antiquewhite;
}
/*TELA DE LOGIN*/
.panel-info> .panel-heading{
	color: #fff;
	background-color: #428bca;
}